<nav>
    <ul>
        <li {% if page.url == "/" %}class="active"{% endif %}><a href="{{site.baseurl}}/" >Schedule</a></li>
        <li {% if page.url == "/syllabus/" %}class="active"{% endif %}><a href="{{site.baseurl}}/syllabus/">Syllabus</a></li>
        <li {% if page.url == "/assignments/" %}class="active"{% endif %}><a href="{{site.baseurl}}/assignments/">Assignments</a></li>
        <li {% if page.url == "/readings/" %}class="active"{% endif %}><a href="{{site.baseurl}}/readings/">Readings</a></li>
    </ul>
</nav>
