.container {
    grid-template-columns: 1fr;
    grid-template-areas:
        "top"
        "menu"
        "main"
        "bottom";
}
h1 span {
    display: inline-block;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
}
h1 span.hw {
    background: $blue;
}
h1 span.pj {
    background: $lightpink;
}


.assignments, .lectures, .assignment, .lecture, .readings {
    display: flex;
    flex-direction: column;
    .passed {
        background: #F0F0F0;
        color: #999;
        .hw, a.hw, 
        .pj, a.pj, 
        .lec, a.lec, 
        .lab, a.lab {
            background: #CCC;
            &:hover {
                background: #BBB;
            }
        }
    }
    a, a:hover, a:visited, a:active {
        text-decoration: none;
        color: #444;
        border-bottom: dotted $mutedblue 2px;
    }
    a:hover {
        border-bottom: dotted #444 2px;
        background: #f6f6f6;
    }
    table {
        td, th {
            vertical-align: top;
        }
        border-top: solid 1px #444;
        border-bottom: solid 1px #444;
        border-collapse: collapse;
        width: 100%;

        tr:first-child {
            border-bottom: solid 1px #444;
        }

        td, th {
            border-bottom: dotted 1px #999;
            padding: 8px;
        }
        td {
            font-size: 0.9em;
        }
        th {
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 500;
            min-width: 60px;
            text-align: left;
        }
        .hw, a.hw, 
        .pj, a.pj, 
        .lec, a.lec, 
        .lab, a.lab {
            display: inline-block;
            border-radius: 4px;
            color: white;
            text-transform: uppercase;
            font-size: .90em;
            line-height: 1.2em;
            text-decoration: none;
            padding: 3px 7px;
            border-bottom: solid transparent 1px;
            min-width: 42px;
            margin-right: 5px;
        }
        .hw, .hw:hover {
            background: $blue;
        }
        .pj, .pj:hover {
            background: $lightpink;
        }
        .lec, .lec:hover {
            background: $mutedblue;
        }
        .lab, .lab:hover {
            background: $purple;
        }
    }
    table.rubric {
        td, th {
            border-bottom: dotted 1px #CCC;
            // font-size: 0.95em;
        }
        border: dotted 1px #CCC;
        width: 80%;
        max-width: 80%;
        tr:first-child {
            border-bottom: dotted 1px #CCC;
            th {
                text-transform: uppercase;
                color: #000;
            }
        }
        ul {
            margin: 0px;
        }
    }
    ul {
        margin-top: 0px;
    }
}
.assignments {
    td:nth-child(1), th:nth-child(1) {
        width: 60px !important;
        font-weight: 500;
    }
}
.readings {
    td:nth-child(2), th:nth-child(2) {
        width: 80px !important;
    }
    h3 {
        font-size: 1em;
        font-weight: 500;
        font-family: 'Barlow', sans-serif;
    }
    li {
        margin-bottom: 8px;
    }
}

ol.readings, ul.readings {
    margin-top: 0px;
    margin-bottom: 0px;
    // padding: 0px;
    // padding-left: 20px;

    li {
        margin-top: 0px;
    }
}

.lectures {
    ul {
        margin: 0px;
    }
    td:nth-child(1)  {
        min-width: 60px;
        width: 60px;
    }
    td:nth-child(1), th:nth-child(1), td:nth-child(2), th:nth-child(2) {
        width: 50px;
        min-width: 30px;
    }
    td:nth-child(2)  {
        min-width: 70px;
    }
    td:nth-child(3)  {
        min-width: 330px;
    }
    td:nth-child(4)  {
        min-width: 100px;
    }
    p, li, th, td {
        margin-top: 0px;
    }
    ol {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-left: 14px;
        li {
            margin-bottom: 5px;
        }
    }
}

.assignment, .lecture {
    .summary {
        background: #F3F3F3;
        padding: 10px;
        li {
            margin-left: 30px;
        }
    }
    ul {
        list-style: none;
        li::before {
            font-size: 1.6em;
            content: "\2022";
            font-weight: bold;
            display: inline-block;
            text-indent: -0.9em;
            vertical-align: text-bottom;
            color: $purple;
        }
    }
    h2 {
        border-bottom: solid 1px $mutedblue;
    }
    h3 {
        color: #676767;
        font-weight: 500;
        font-size: 1.3em;
    }
}

@media (max-width: 800px) {
    main {
        padding: 20px;
    }
    .assignments section, .people section {
        width: 100%;
        height: 200px;
    }
    .lectures {
        td  {
            min-width: 50px !important;
        }
        th:nth-child(1)  {
            min-width: 50px !important;
            width: auto;
        }
        td:nth-child(3) {
            min-width: 200px !important;
        }
    }
    .readings {
        tr:first-child, th:first-child, th:nth-child(3), td:nth-child(3) {
            display: none;
        }
        td:nth-child(2) {
            font-weight: 500;
            width: 70px !important;
            min-width: 70px !important;
        }
    }
}
