$blue: #49ACBB;
$turquoise: #61cac8;
$mutedblue: #88a5b3;
$purple: #b0809e;
$lightpink: #d85c8a;
$pink: #ff3775;
$redhot: #EB1962;

body {
    margin: 0;
    // font-family: 'Open Sans';
    font-family: 'Barlow', sans-serif;
    // font-family: 'Barlow Condensed', sans-serif;
    // font-family: 'Barlow Semi Condensed', sans-serif;
    color: #444;
    box-sizing: border-box;
    section, div, aside {
        box-sizing: border-box;
    }
 }
 a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: #444;
    border-bottom: solid transparent 2px;
}
 
 h1, h2, h3, h4, h5 {
    // font-family: 'Open Sans Condensed';
    // font-family: 'Barlow', sans-serif;
    font-family: 'Barlow Condensed', sans-serif;
    // font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;

    a, a:hover, a:visited, a:active {
        text-decoration: none;
        color: #444;
    }
 }

p, li, th, td {
    line-height: 1.5em;
    margin-top: 5px;
}

h2, h3, h4, h5 {
    margin-bottom: 0px;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}

h2 {
    border-bottom: solid 1px #444;
    padding-bottom: 5px;
}
strong {
    font-weight: 600;
}
code.highlighter-rouge {
    background: #F3F3F3;
    padding: 6px;
    border-radius: 6px;
}

.desktop { display: flex; }
.mobile {
    display: none;
}
.container {
    display: grid;
    min-height: 100vh;
    // grid-row-gap: 20px;
    // grid-column-gap: 20px;
    // margin: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto auto auto;
    grid-template-areas:
        "top"
        "menu"
        "main"
        "bottom";
}
.due-date {
    display: none;
}

.checkbox {
    text-indent: -28px;
    margin-left: 30px;
}
.checkbox:before {
    content: 'â ';
    margin-right: 10px;
    font-size: 1.5em;
    vertical-align: top;
}

pre.highlight {
    border-radius: 10px;
    background: #F6F6F6;
    padding: 10px;
}


blockquote {
    border-left: solid 7px $purple;
    background: #F6F6F6;
    padding: 10px;
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 20px;
    p {
        margin: 0px;
    }
}
 
header, nav, footer, main {
    display: flex;
    // border: dotted 1px #CCC;
}
header, nav, footer {
    justify-content: center;
    align-items: center;
}
footer > div {
    margin-top: 80px;
    margin-bottom: 20px;
}
 
 main {
    min-height: 80vh;
    flex-direction: column;
    padding-left: 15vw;
    padding-right: 15vw;

    h1 {
        font-weight: 400;
        text-transform: uppercase;
        a, a:visited {
            color: black;
            text-decoration: none;
            padding-left: 5px;
            padding-right: 5px;
            margin-left: -5px;
        }
        a:hover {
            background: #EEE;
            border-radius: 5px;
        }
    }

    header {
        grid-area: top;
        align-items: flex-end;

        h1 {
            margin-bottom: 0px;
        }
    }
}

 nav {
    grid-area: menu;
    ul {
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin-top: 0px;
        
        li {
            border-bottom: solid 3px transparent;
            list-style: none;
            padding: 5px;

            &.active {
                border-bottom: solid 3px $lightpink;
                // background: #EEE;
            }

            a {
                padding: 5px 8px;
            }
            a, a:visited, &:active {
                text-decoration: none;
                color: #444;
            }
            &:hover, &:active {
                background: #F9F9F9;
                border-bottom: solid 3px $mutedblue;
            }
        }
    }
}

 footer {
    grid-area: bottom;
 }
 
 main {
     grid-area: main;
 }
 
 @media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 10vh auto auto auto;
        grid-template-areas:
            "top"
            "menu"
            "main"
            "bottom";
        margin: 0px;
        grid-row-gap: 0px;
        grid-column-gap: 0px;
        overflow: auto;
    }
    .desktop { display: none; }
    .mobile { display: flex; }

    aside, nav { display: none; }
    footer, header { border: none; }
    header, nav {
        top: 0px;
        position: fixed;
        width: 100%;
        .fa-bars {
            color: white;
        }
    }
    header {
        height: 10vh;
        background: #444;
        box-shadow: 0 1px 3px rgba(0,0,0,0.52), 0 1px 2px rgba(0,0,0,0.64);
        color: white;
        h1 { font-size: 1.3em; }
    }
    nav {
        top: 10vh;
        background: white;

        ul {
            flex-direction: column;
            width: 100%;
            padding: 0px;
            margin: 0px;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

            li {
                border-bottom: solid 1px #EEE;
                margin-top: 0px;
                
                &.active {
                    border-bottom: solid 1px #EEE;
                    background: $mutedblue;
                    a {
                        color: white;
                    }
                    &:hover, &:active {
                        background: $mutedblue;
                    }
                }
                a {
                    display: flex;
                    padding: 10px 18px;
                }
                &:hover, &:active {
                    border-bottom: solid 1px #EEE;
                    background: #E9E9E9;
                }
            }
        }
    }

    header {
        align-items: center;
        justify-content: flex-start;
        
        i { font-size: 24px; }
        a {
            padding: 10px;
            margin: 5px;
            text-decoration: none;
            color: white;
        }
    }
    main {
        // background: #EEE;
        min-height: 82vh;
    }
    
 }


.hw, a.hw, 
.pj, a.pj, 
.lec, a.lec, 
.lab, a.lab {
    display: inline-block;
    border-radius: 4px;
    color: white;
    text-transform: uppercase;
    font-size: .90em;
    line-height: 1.2em;
    text-decoration: none;
    padding: 3px 7px;
    border-bottom: solid transparent 1px;
    min-width: 42px;
    margin-right: 5px;
}
.hw, .hw:hover {
    background: $blue;
}
.pj, .pj:hover {
    background: $lightpink;
}
.lec, .lec:hover {
    background: $mutedblue;
}
.lab, .lab:hover {
    background: $purple;
}