.projects-container {
    h2 {
        margin-bottom: 30px;
    }
}

.project-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    .image {
        width: 25%;
        img {
            width: 100%;
            border: solid 1px #CCC;
        }
        a {
            display: flex;
            border: solid 9px transparent;
        }
        a:hover {
            border: solid 9px $mutedblue;
        }
        a:hover img {
            border: solid 1px $mutedblue; 
        }
    }
    .data {
        padding-left: 40px;
        width: 75%;
        h3 {
            margin-top: 0px !important;
        }
    }
}