table {
    &.schedule, &.grading {
        border-collapse: collapse;
        max-width: 1000px;

        td, th {
            border: dotted 1px #CCC;
            padding: 6px;

            strong {
                font-family: 'Open Sans Condensed';
            }
        }
        td {
            font-size: 0.9em;
        }
        th {
            font-family: 'Open Sans Condensed';
            min-width: 80px;
            text-align: left;
        }
    }
    
}