---
layout: default
---
<h2>Overview</h2>
<table>
    <tr>
        <td><strong>Term</strong></td>
        <td>Winter, 2020</td>
    </tr>
    <tr>
        <td><strong>Course</strong></td>
        <td>CS 330: Intro to Human-Computer Interaction (HCI)</td>
    </tr>
    <tr>
        <td><strong>Prerequisites</strong></td>
        <td>211 or equivalent</td>
    </tr>
    <tr>
        <td><strong>Instructor</strong></td>
        <td>Sarah Van Wart</td>
    </tr>
    <tr>
        <td><strong>Lecture Time</strong></td>
        <td>Monday and Wednesdays, 1:00 - 1:50pm</td>
    </tr>
    <tr>
        <td><strong>Lecture Location</strong></td>
        <td>Harris Hall, Room 107</td>
    </tr>
    <tr>
        <td><strong>Studio</strong></td>
        <td>Thursdays and Fridays (times and locations vary)</td>
    </tr>
</table>

<br>
<p>Human-Computer Interaction (HCI) is a rapidly expanding area of research and practice that has transformed the ways in which we interact with digital systems. This course introduces fundamental principles for designing and analyzing interactive systems. Topics include user-centered design, prototyping and evaluation techniques, accessibility, and graphical design fundamentals. The course also reviews emerging areas of HCI research. Students will work in teams to design and test a user interface using HTML5, CSS, and JavaScript.</p>

<h2>Coursework</h2>

<h3>1. Team Project</h3>
<p>The heart of this course is a quarter-long project. You will work in teams of four to design and test a novel user interface around and idea of your team's choosing. App design is an iterative process; you will build and test successively higher-fidelity prototypes over the quarter. Students who are not registered for course credit may not participate in the project. </p>

<h3>2. Individual Homework Assignments</h3>
<p>You will also work on individual homework assignments throughout the quarter. The earlier assignments are designed to give you practice with HTML5, CSS, and Javascript. For the later assignments, you’ll gain some experience applying usability and design principles to critique existing interface designs. Please note that studio section attendance is required, and part of your individual grade will be determined by your participation in studio. </p>

<h3>3. Class & Studio Participation</h3>
<p>On Thursdays or Fridays you will be meeting in studio (section). The purpose of studio is for you and your group to get feedback on your group projects. You will also have an opportunity to learn HTML, CSS, and JavaScript at the beginning of the term.</p>

<p>Attendance at lectures and studios is required. Peer mentors will record studio attendance; we will drop your lowest studio attendance grade (i.e. you get one free pass). In lecture we will have in-class quizzes covering topics related to the assigned readings, which will also be used to make attendance. We will drop your lowest three quiz grades (i.e. you get three free passes).</p>

<h3>4. Readings</h3>
<p>I have selected course readings to deepen and expand your understanding of HCI fundamentals beyond what we cover in lecture. Lectures will be devoted to hands-on activities that build on the assigned readings. Readings will be posted on the course website prior to lecture. All of the readings are available on Canvas.</p>

<h2>Grading</h2>
<p>Grades are calculated as follows (subject to change):</p>


{% include assignment_listing_simple.html %}  


<h3>Regrades </h3>
<p>If you believe there was a grading error on one of your assignments:
Email Sarah and your peer mentor with an explanation of the mistake.
Make an appointment if you want to discuss grades in person or stop by during office hours.
If the request merits a regrade, Sarah will regrade your entire submission, which could result in a lower final grade.
</p>

<h3>Late Policy</h3>
<p>Assignments are due at the time indicated on Canvas.  Assignments turned in up to 24 hours late will be penalized 10%. Similarly, assignments turned in between 24 and 48 hours late will be penalized 20%. Assignments turned in more than 48 hours late will not be accepted under most circumstances. If you are having trouble with homework or assignments, please let us know! We’re here to help.</p>


<h3>Collaboration Policy</h3>
<p>In the past, there have been a few unfortunate instances in which students have presented work other than their own. For the programming assignments: You are allowed (encouraged, even!) to discuss general approaches to solving problems, but all work you submit must be your own. Working “together” and presenting variants of the same file is not acceptable. Here are some specific guidelines to make sure you don’t cross the line:</p>
<ol>
    <li>Do not exchange programs or program fragments in any form – on paper, via e-mail, or by other means.</li>
    <li>Do not copy solutions from any source, including the web or previous EECS 110 students.</li>
    <li>While working with other students, it is perfectly acceptable to ‘look’ at each other’s code (perhaps while helping someone to debug), but you should NEVER be scribing (typing or writing) your own work while looking at someone else’s (on a computer screen, paper, whiteboard, etc.).</li>
    <li>Uploading materials from this course to websites that sell such content to students is prohibited by Northwestern’s academic integrity policies, and may also put you at risk for violating copyright policies in Northwestern’s Student Conduct Code.</li>
</ol>
Contact Sarah Van Wart if you have any questions about what is appropriate.

<h2>Northwestern's Academic Integrity Policies</h2>
<p>Students are expected to comply with University regulations regarding academic integrity. If you are in doubt, speak to the instructor or look at the University website. Academic dishonesty includes, but is not limited to cheating on an exam or copying someone else’s code. Failure to maintain academic integrity on an assignment will result in a loss of credit for that assignment at a minimum. Other penalties may also apply.</p>

<h2>Accommodations for Students with Disabilities</h2>
<p>In compliance with Northwestern policy and equal access laws,
the instructor is available to discuss appropriate academic accommodations 
that you may require as a student with a disability. 
Request for academic accommodations need to be made during the 
first week of the quarter, except for unusual circumstances, 
so arrangements can be made. Students are encouraged to register with 
Services for Students with Disabilities (SSD) for disability verification 
and for determination of reasonable academic accommodations.
 Read more at: <a href="http://www.northwestern.edu/accessiblenu/">http://www.northwestern.edu/accessiblenu/</a>. </p>